spoofmeter_client
spoofmeter_server
spoofmeter_client.exe
spoofmeter_server.exe

spoofmeter_common.o
spoofmeter_common.obj

spoofmeter_client.o
spoofmeter_server.o
spoofmeter_client.obj
spoofmeter_server.obj

spoofmeter_client.ilk
spoofmeter_server.ilk
spoofmeter_client.pdb
spoofmeter_server.pdb

vc140.pdb

.github
.vscode
.idea
